<h2>ARE YOU SURE YOU WANT TO DELETE THIS <%= @type.upcase %>?</h2>
<pre>
  <%= index %>
  <%= entry(@object) %>
</pre>
<% route = plural(@type)%>
<form action="/mark" method="get">
  <input type=submit name=ignore value="Delete this <%= @objects[0].class %>">
  <input type=hidden name=type value=<%= @objects[0].class %> readonly>:
  <input type=hidden name=id value=<%= @objects[0].id %> readonly>
</form>
<form action="/<%= route %>" method="get">
  <input type=submit name=ignore value="Cancel">
</form>
