<% variables = {"Product"=>["category_id","location_id"], "Category"=>["name","cost","description"], "Location"=>["name","capacity"]}[@type]%>
<h2>INPUT NEW <%= @type.upcase %>:</h2>
<form action="/new/<%= @type %>" method="post">
<%  variables.each do |attribute|
attr_type = {"category_id"=>:int,"location_id"=>:int,"name"=>:str,"description"=>:str,"cost"=>:int,"capacity"=>:int}[attribute]
attr_type = "text" if attr_type == :str
attr_type = "number" if attr_type == :int%>
        <%= attribute.capitalize %>:<input type=<%= attr_type %> name=<%= attribute %>><br> 
<% end %>
  <input type=submit name=ignore value="Create New">
  <input type=text name=type value=<%= @type.capitalize %> readonly>
</form>
<% if @type == "Product"  %>
  <%   @objects = Category.seek_all  %>
  <h4> CATEGORY TYPES:</h4>
  <pre>
    <% index = "id".ljust(5)+"name".ljust(15)+"cost".ljust(6)+"description" %><%= index %>
    
    <% @objects.each do |object|
     entry = (object.id.to_s.ljust(5) + object.name.ljust(15) + object.cost.to_s.ljust(6) + object.description) %> <%= entry %>
    <% end %>
  </pre>
  <%  @objects = Location.seek_all %>
  <h4> LOCATION TYPES: </h4>
  <pre>
    <% index = "id".ljust(5)+"name".ljust(15)+"capacity" %><%= index %>
  
    <% @objects.each do |object|
     entry = ( object.id.to_s.ljust(5) + object.name.ljust(15) + object.capacity.to_s) %> <%= entry %>
    <% end %>
  </pre>
<% end %>
    
    
    
    
    
