<%   @objects = Product.seek_all  %>
<h2> VIEWING ALL PRODUCTS </h2>
  
<pre>
  <% index = "id".ljust(5)+"category".ljust(15)+"location" %><%= index %>
  <h_rule>
  <% @objects.each do |object|
   category_name = WAREHOUSE.execute("SELECT name FROM categories WHERE id = #{object.category_id}")[0]["name"]
   location_name = WAREHOUSE.execute("SELECT name FROM locations WHERE id = #{object.location_id}")[0]["name"]
   entry = (object.id.to_s.ljust(5) + category_name.ljust(15) + location_name) %> <%= entry %>
  <% end %>  
</pre>

<form action="/add" method="post">
  <input type=submit name=add value="Add New">
  <input type=text name=type value=<%= @objects[0].class %> readonly>
</form><br>
<form action="/edit" method="post">
  Enter ID to<input type=number name=edit_id><input type=submit name=edit value="Edit">
  <input type=text name=type value=<%= @objects[0].class %> readonly>
</form><br>
<form action="/del" method="post">
  Enter ID to<input type=number name=del_id><input type=submit name=edit value="Delete">
  <input type=text name=type value=<%= @objects[0].class %> readonly>
</form><br>
  <a href=>Search in Products</a>
</form>
<% params[:type] = "Product" %>